{% assign certificates = site.data.data.certificates %}
{% if certificates %}
<section class="section certificates-section">

  <h2 class="section-title">
    <span class="fa-stack fa-xs">
      <i class="fas fa-circle fa-stack-2x"></i>
      <i class="fas fa-archive fa-stack-1x fa-inverse"></i>
    </span>
    {{ certificates.title }}
  </h2>

  {% if certificates.intro %}
  <div class="intro">
      <p>{{ certificates.intro }}</p>
  </div><!--//intro-->
  {% endif %}

  {% for item in certificates.items %}
    <div class="item">

      <span class="item-title">
        {{ item.title }}
      </span>

      {% if item.details %}
      - <span class="item-details">{{ item.details }}</span>
      {% endif %}

    </div><!--//item-->
  {% endfor %}

</section><!--//section-->
{% endif %}
